body {
    background-color: #ffffff;
    font:13px "Open Sans", "Segoe UI", "Verdana", "Arial";
    color:#e7e7e7;
}

#centerbg{
    width:70%;
    height:100%;
    background-color: rgba(214, 218, 243, 1);
    position:fixed center;
    top:0px;
    background-image:url("../images/404.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
}

#error{
    font:20px "Open Sans", "Segoe UI", "Verdana", "Arial";
    color: #880000;
    position: center top;
}

#miniError{
    font:13px "Open Sans", "Segoe UI", "Verdana", "Arial";
    color: #880000;
    position: center top;
}