body {
    background-color: #4c4c4c;
    font:13px "Open Sans", "Segoe UI", "Verdana", "Arial";
    color: #e7e7e7;
}

/* URL COLORS */
a {
    text-decoration: none;
}

.topcolor{
    opacity:0.5;
    transition: opacity 0.5s;
    padding-left:16px;
    padding-right:16px;
}

.urlcolor{
    opacity:0.5;
    transition: opacity 0.5s;
}

.urlcolor:link {color: #eeeeee;}
.urlcolor:visited{color: #eeeeee;}
.urlcolor:hover{color: #eeeeee; opacity:1.0; text-decoration: none;}
.urlcolor:active{color: #eeeeee;}

.topcolor:link {color: #e7e7e7;}
.topcolor:visited{color: #e7e7e7;}
.topcolor:hover{color: #e7e7e7; opacity:1.0; text-decoration: none;}
.topcolor:active{color: #e7e7e7;}

/* LEFTMOST BG */
.leftBackground {
    background-color: rgba(25, 25, 25, 1);
    padding-top: 20px;
}

.leftUrls {
    margin-left: auto;
    margin-right: auto;
    font:40px "Open Sans", "Segoe UI", "Verdana", "Arial";
    text-align: center;
}

/* MID BG */
.middleBackground {
    background-color: rgba(40, 40, 40, 1);
    opacity: 1.0;
}

.middleUrls{
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    float: left;
    font-size:20px;
}



.bootstrapPadOverride {
    padding-left: 0;
    padding-right: 0;
}
