body {
    background-color: #4c4c4c;
    font: 13px'Source Sans Pro Regular', Helvetica, Arial, sans-serif;
    color: #e7e7e7;
}

a {
    text-decoration: none;
}

/* LEFTMOST BG */
.leftBackground {
    background-color: rgba(25, 25, 25, 1);
}

.leftUrls {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font: 40px'Source Sans Pro Regular', Helvetica, Arial, sans-serif;
    text-align: center;
}

/* MID BG */
.middleBackground {
    background-color: rgba(40, 40, 40, 1);
}

.bootstrapPadOverride {
    padding-left: 0;
    padding-right: 0;
}
