/******************************* Variables *******************************/
/* Colors */
$main-text-color: #e7e7e7;
$link-focus-color: #eeeeee;

$background-color: #4c4c4c;
$left-side-background: rgba(25, 25, 25, 1);
$middle-background: rgba(40, 40, 40, 1);

/* Width stuff */
$left-side-width: 635px;
$middle-side-width: 475px;
$min-screen-size: ($left-side-width + $middle-side-width);
$min-screen-image: 1680px;

/******************************* CSS *******************************/
/******************************* General *******************************/
body {
  background-color: $background-color;
  font: 13px 'Open Sans', 'Segoe UI', 'Verdana', 'Arial';
  color: $main-text-color;
  margin: 0;
  background-repeat: no-repeat;
}

p {
  margin: 0;
  padding: 0.83em;
}

a {
  text-decoration: none;
}

.top-color {
  opacity: 0.5;
  transition: all 0.3s ease 0s;
  padding-left: 16px;
  padding-right: 16px;

  &:link,
  &:visited,
  &:active {
    color: $main-text-color;
  }

  &:hover {
    color: $link-focus-color;
    opacity: 1;
    text-decoration: none;
  }
}

.url-color {
  opacity: 0.5;
  transition: all 0.3s ease 0s;

  &:link,
  &:visited,
  &:active {
    color: $link-focus-color;
  }

  &:hover {
    color: $link-focus-color;
    opacity: 1;
    text-decoration: none;
  }
}

.no-margin {
  margin: 0;
  padding: 0.83em;
}

/******************************* Left Side *******************************/
#left-side {
  background-color: $left-side-background;
}

#left-container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.left-urls {
  margin-left: auto;
  margin-right: auto;
  font: 40px 'Open Sans', 'Segoe UI', 'Verdana', 'Arial';
  text-align: center;
  padding: 0;
}

#bar-and-listeners {
  display: none;
}

#playing-container {
  display: none;
}

#last-fm-scrobbling {
  display: none;
}

/******************************* R/a/dio *******************************/
#DIV_1 {
  box-sizing: border-box;
  color: rgb(120, 120, 120);
  float: center;
  height: 272px;
  min-height: 1px;
  position: absolute center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none solid rgb(120, 120, 120);
  width: 262.5px;
  perspective-origin: 131.25px 136px;
  transform-origin: 131.25px 136px;
  border: 0px none rgb(120, 120, 120);
  font: normal normal normal 16px/22.85714340209961px'Source Sans Pro Regular',
    Helvetica, Arial, sans-serif;
  outline: rgb(120, 120, 120) none 0px;
  padding: 0px 15px;
}
/*#DIV_1*/

#DIV_2 {
  box-sizing: border-box;
  color: rgb(120, 120, 120);
  height: 250px;
  text-decoration: none solid rgb(120, 120, 120);
  width: 232.5px;
  perspective-origin: 116.25px 125px;
  transform-origin: 116.25px 125px;
  background: rgb(27, 27, 27) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 1px solid rgba(27, 27, 27, 0.0980392);
  border-radius: 4px 4px 4px 4px;
  font: normal normal normal 16px/22.85714340209961px'Source Sans Pro Regular',
    Helvetica, Arial, sans-serif;
  margin: 0px 0px 22px;
  outline: rgb(120, 120, 120) none 0px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
}
/*#DIV_2*/

#IMG_3 {
  box-sizing: border-box;
  color: rgb(120, 120, 120);
  display: block;
  height: 180px;
  max-height: 180px;
  max-width: 100%;
  text-decoration: none solid rgb(120, 120, 120);
  width: 180px;
  perspective-origin: 90px 90px;
  transform-origin: 90px 90px;
  border: 0px none rgb(120, 120, 120);
  border-radius: 6px 6px 6px 6px;
  font: normal normal normal 16px/22.85714340209961px'Source Sans Pro Regular',
    Helvetica, Arial, sans-serif;
  margin: 16px 21.25px 0px;
  outline: rgb(120, 120, 120) none 0px;
}
/*#IMG_3*/

#DJ {
  box-sizing: border-box;
  color: rgb(140, 140, 140);
  height: 22px;
  text-align: center;
  text-decoration: none solid rgb(120, 120, 120);
  width: 222.5px;
  perspective-origin: 111.25px 11px;
  transform-origin: 111.25px 11px;
  border: 0px none rgb(120, 120, 120);
  font: normal normal 500 20px/22px'Source Sans Pro Bold', Helvetica, Arial,
    sans-serif;
  margin: 11px 0px;
  outline: rgb(120, 120, 120) none 0px;
}
/*#DJ*/

#outside-bar {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset;
  box-sizing: border-box;
  color: rgb(40, 40, 40);
  height: 22px;
  text-decoration: none solid rgb(40, 40, 40);
  width: 90%;
  perspective-origin: 277.5px 11px;
  transform-origin: 277.5px 11px;
  background: rgb(40, 40, 40) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(40, 40, 40);
  border-radius: 4px 4px 4px 4px;
  font: normal normal normal 16px/22.85714340209961px 'Source Sans Pro Regular',
    Helvetica, Arial, sans-serif;
  margin: 0px 0px 22px;
  outline: rgb(40, 40, 40) none 0px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
/*#outsideBar*/

#playing-bar {
  box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  float: left;
  height: 22px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  width: 0%;
  perspective-origin: 23.4375px 11px;
  transform-origin: 23.4375px 11px;
  background: rgb(73, 102, 127) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal 14px/22px 'Source Sans Pro Regular', Helvetica,
    Arial, sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  transition: width 0.9s ease 0s;
}
/*#insideBar*/

#listeners {
  box-sizing: border-box;
  color: rgb(153, 153, 153);
  float: left;
  padding-left: 30%;
  text-align: center;
  text-decoration: none solid rgb(153, 153, 153);
  border: 0px none rgb(153, 153, 153);
  font: normal normal normal 16px/22.85714340209961px'Source Sans Pro Regular',
    Helvetica, Arial, sans-serif;
  outline: rgb(153, 153, 153) none 0px;
  padding-bottom: 20px;
  background-color: $left-side-background;
}
/*#listeners*/

#time {
  box-sizing: border-box;
  color: rgb(153, 153, 153);
  float: right;
  padding-right: 30%;
  text-align: center;
  text-decoration: none solid rgb(153, 153, 153);
  border: 0px none rgb(153, 153, 153);
  font: normal normal normal 16px/22.85714340209961px'Source Sans Pro Regular',
    Helvetica, Arial, sans-serif;
  outline: rgb(153, 153, 153) none 0px;
  padding-bottom: 20px;
  background-color: $left-side-background;
}
/*#time*/

/******************************* Middle *******************************/
#middle {
  background-color: $middle-background;
}

.links-box {
  font: 40px 'Open Sans', 'Segoe UI', 'Verdana', 'Arial';
  text-align: center;
  padding-top: 1.5em;
}

.links-style {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/******************************* Bigger Resolutions *******************************/
/* Minimum width is the combined first two panels, this is for big screens */
@media (min-width: $min-screen-size) {
  /* We only show and load the image in even higher resolutions */
  @media (min-width: $min-screen-image) {
    body {
      background-image: url('../../images/0.png');
      background-attachment: fixed;
      background-position: bottom right;
    }
  }

  /* Left Side */
  #left-side {
    bottom: 0;
    left: 0;
    top: 0;
    position: fixed;
    width: $left-side-width;
  }

  /* Middle */
  #middle {
    bottom: 0;
    left: $left-side-width;
    top: 0;
    position: fixed;
    width: $middle-side-width;
  }

  #middle-container {
    display: flex;
    flex-wrap: wrap;
  }

  .links-box {
    font: 13px 'Open Sans', 'Segoe UI', 'Verdana', 'Arial';
    text-align: left;
    padding-top: 3em;
    min-width: 200px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  .booster-links-box {
    margin-top: 3em;
  }

  .links-style {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 20px;
  }
}

/* Spinner */
#spinner {
  margin-top: 15em;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-text-color;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
