@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
}
#overlay {
    font-family: 'Advent Pro', sans-serif;
    font-size: 7em;
    margin: .2em .5em;
    color: rgba(255, 255, 255, 1);
}
video#bgvid { 
    position: fixed; 
    right: 0; 
    top: 0;
    width: 100%; 
    height: auto; 
    z-index: -100;
    background-size: cover;
}
