<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My waifu is objectively better than your waifu. Shinobu is the best waifu.">

    <link rel="icon" href="images/4chon.ico">
    <title>Love</title>

    <base href="/">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#282828">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="shinobu.moe">
    <link rel="icon" sizes="192x192" href="images/touch/icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="shinobu.moe">
    <link rel="apple-touch-icon" href="images/touch/icon-192x192.png">

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="#282828">
    <meta name="msapplication-TileImage" content="images/touch/icon-192x192.png">

    <!-- CSS  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- JS -->
    <!-- Load angular via CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!-- Main Angular app files -->
    <script src="app/app.js"></script>
</head>

<body ng-app="shinobuApp" ng-controller="mainController as main">
    <!-- Left Side -->
    <div id="left-side">
        <div id="left-container">
            <!-- Left Side URLs -->
            <p class="left-urls">
                <a href="http://www.novelupdates.com/" class="top-color">Novel Updates</a>
            </p>
            <p class="left-urls">
                <a class="top-color" href="https://courses.edx.org/courses/course-v1:HarvardX+CS50+X/info">CS50</a>
            </p>
            <p class="left-urls">
                <a class="top-color" href="https://www.youtube.com/">Youtube</a>
            </p>
            <p class="left-urls">
                <a class="top-color" href="https://inbox.google.com/">Email</a>
            </p>
            <p class="left-urls">
                <a class="top-color" href="https://miscursos.tecmilenio.mx/">School</a>
            </p>
        </div>

        <!-- r/a/dio container -->
        <div id="r-a-dio-container" class="left-urls" ng-if="main.playingRadio && main.started">
            <!-- Now playing block start -->
            <div id="nowPlaying" class="playing">
                {{ main.display.playing }}
            </div>

            <!-- DJ block start -->
            <div id="DIV_1">
                <div id="DIV_2">
                    <!-- Image goes here -->
                    <img id="IMG_3" src="{{ main.display.image }}" alt='' />
                    <h4 id="DJ">
                        {{ main.display.dj }}
                    </h4>
                </div>
            </div>

            <!-- Playing bar start -->
            <div id="outside-bar">
                <div id="playing-bar">
                </div>
            </div>

            <!-- Listeners and time block start -->
            <div id="listeners-and-time">
                <span id="listeners">
                    Listeners: {{ main.display.listeners }}
                </span>
                <span id="time">
                </span>

                <br />
            </div>
        </div>

        <!-- Last.fm container -->
        <div id="r-a-dio-container" class="left-urls" ng-if="main.playingLastFm && main.started">
            <!-- Now playing block start -->
            <div id="nowPlaying" class="playing">
                {{ main.display.playing }}
            </div>

            <!-- DJ block start -->
            <div id="DIV_1">
                <div id="DIV_2">
                    <!-- Image goes here -->
                    <img id="IMG_3" src="{{ main.display.image }}" alt='DJ' />
                    <h4 id="DJ">
                        {{ main.display.dj }}

                        <br />

                        <img src="images/scrobbling.gif" alt="Scrobbling" /> Scrobbling now
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div id="middle">
        <div id="middle-container">

            <!-- TECHNOLOGY -->
            <div class="links-box">
                <p class="links-style">
                    <strong>Technology:</strong>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://arstechnica.com/">Ars Technica</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://stackoverflow.com/">Stack Overflow</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://github.com/">Github</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md">Prog. Books</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://news.ycombinator.com/">Hacker News</a>
                </p>
            </div>

            <!-- WEEABOO -->
            <div class="links-box">
                <p class="links-style">
                    <strong>Weeaboo:</strong>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://www.nyaa.se">Nyaa</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://myanimelist.net/profile/Zyst">MyAnimeList</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://animebytes.tv/">Anime Bytes</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://jpopsuki.eu/">JPopsuki</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://www.amiami.com/">AmiAmi</a>
                </p>
            </div>

            <!-- ENTERTAINMENT -->
            <div class="links-box booster-links-box">
                <p class="links-style">
                    <strong>Entertainment:</strong>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://bato.to/myfollows">Batoto</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://r-a-d.io/">R/a/dio</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://www.ustream.tv/channel/mogra1">MOGRA</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://www.primevideo.com/">Prime video</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://livechart.me/">Ani Countdown</a>
                </p>
            </div>

            <!-- BOTNET -->
            <div class="links-box booster-links-box">
                <p class="links-style">
                    <strong>Botnet:</strong>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://www.facebook.com/">Facebook</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://www.linkedin.com/">LinkedIn</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://twitter.com/">Twitter</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://plus.google.com/">Plus</a>
                    <br>
                </p>

                <p class="links-style">
                    <!-- EMPTY to avoid breaking continuity -->
                    <br />
                </p>
            </div>

            <!-- JAPANESE -->
            <div class="links-box booster-links-box">
                <p class="links-style">
                    <strong>Japanese:</strong>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://jisho.org/">Jisho</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://skritter.com/vocablists/view/5138264637571072">Mining Deck</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://ankiweb.net/decks/">Anki Decks</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://djt.neocities.org/">DJT Guide</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="https://djt.neocities.org/reading%20list.html">DJT Reading</a>
                </p>
            </div>

            <!-- GODLIKE -->
            <div class="links-box booster-links-box">
                <p class="links-style">
                    <strong>Godlike:</strong>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://loli.dance/">Illya Dance</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://420.moe/">420.moe</a>
                </p>

                <p class="links-style">
                    <a class="url-color" href="http://sleepyti.me/">Sleepyti.me</a>
                </p>
                <p class="links-style">
                    <!-- EMPTY to avoid breaking continuity -->
                    <br />
                </p>
            </div>

        </div>
    </div>

    <script>
        (() => {
            if (!('serviceWorker' in navigator)) {
                console.log('Service worker not supported');
                return;
            }

            navigator.serviceWorker
                .register('service-worker.js')
                .catch(error => {
                    console.log('registration failed', error);
                });
        })();
    </script>
</body>

</html>
